*{
  margin:0;
  padding:0;
  text-decoration: none;
}
.container{
  display:flex;
}
main{
  width: 100%;
  padding-top: 80px;
}
.sidebar{
  background: #000;
  color: #fff;
  max-height: 100rem;
  min-height: 100vh;
  width: 50px;
  transition: all 0.5s;
}
.sidebar:hover{
  background: #103a2a;
  color: #ffffff;
  width: 220px;
}
.top_section{
  display: flex;
  align-items:center;
  padding:20px 15px;
}
.logo{
  font-size: 30px;
}
.bars{
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}
.link{
  display: flex;
  color: #ffffff;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}
.link:hover{
  background:lightskyblue;
  color: #000;
  transition: all 0.5s;
}

.icon, .link_text{
  font-size: 20px;
}

.headersection{
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  top:0%;
  width:100cqmax;
  background-color: #efab35;
  font-variant: petite-caps;
  font-size: xxx-large;
  padding: 4px;
  
}

.dashbord{
  display: block;
  text-align: center;
  padding: 5px;
  font-style: italic;
  font-family: 'Segoe UI';
  background-color: #f8f8f8;

}

.landingDash{
  word-spacing: 1px;
  padding: 4px;
  font-size: large;
}